__pycache__/
*.py[cod]
*$py.class
*.so
.Python
ENV/
env.bak/
venv.bak/
pythonenv.*

*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
static_root/
media_root/
migrations/

*.env
.env.local
.env.production
.env.development
#.env.example

venv/
env/
virtualenv/

.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
.project
.pydevproject
.settings/

#/static/
/staticfiles/
/media/

.python-version
pip-log.txt
pip-delete-this-directory.txt

.vscode/
.history/

# */migrations/*.py
# !*/migrations/__init__.py